@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap');

.wrapper {
	min-height: 100vh;
	overflow: hidden;
	margin: 0 auto;
	max-width: $mw + 20px;
	padding: 0px 10px;
}