@import "vars.scss";
@import "base.scss";
@import "nullstyle.scss";


.logo {
	display: flex;
	justify-content: center;
	margin-top: 50px;

	@media (max-width:767px) {
		margin-top: 20px;
	}
}

.main {
	margin-top: 50px;
	display: flex;
	justify-content: space-between;

	@media (max-width:767px) {
		justify-content: center;
		margin-top: 20px;
	}
}

.content {
	@media (max-width:767px) {
		width: 480px;
		margin-bottom: 10px;
	}
}

.button {
	display: flex;

	:not(:last-child) {
		margin-right: 5px;
	}
}

.loader {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 30px;
	font-size: 15px;
	margin-top: 20px;

	:last-child {
		margin-left: 20px;
	}
}