@import '../app/vars';

.body {
	background-color: white;
	border-radius: 7px;
	overflow: hidden;
	border: 1px solid rgba(223, 229, 236, 1);
	display: inline-flex;

	@media (max-width:650px) {
		margin-bottom: 10px;
		overflow: scroll;
	}


	&__items {
		display: flex;

		@media (max-width: 650px) {
			flex-direction: column;
			min-width: 250px;
		}
	}

	&__item {
		display: flex;
		align-items: center;
		justify-content: center;
		border: 1px solid rgba(223, 229, 236, 1);
		text-transform: uppercase;
		letter-spacing: 0.50px;
		width: 168px;
		height: 50px;
		background: white;

		@media (max-width:650px) {
			width: calc(100%);
			height: 35px;
		}

		&.active {
			color: white;
			background-color: $colorBlue;
			border: none;
		}
	}
}